/* src/styles/font.css */
@font-face {
  font-family: 'Causten';
  src: url('/fonts/causten/Causten-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Causten';
  src: url('/fonts/causten/Causten-ThinOblique.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('/fonts/causten/Causten-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Causten';
  src: url('/fonts/causten/Causten-ExtraLightOblique.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('/fonts/causten/Causten-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Causten';
  src: url('/fonts/causten/Causten-LightOblique.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('/fonts/causten/Causten-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Causten';
  src: url('/fonts/causten/Causten-RegularOblique.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('/fonts/causten/Causten-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Causten';
  src: url('/fonts/causten/Causten-MediumOblique.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('/fonts/causten/Causten-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Causten';
  src: url('/fonts/causten/Causten-SemiBoldOblique.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('/fonts/causten/Causten-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Causten';
  src: url('/fonts/causten/Causten-BoldOblique.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('/fonts/causten/Causten-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Causten';
  src: url('/fonts/causten/Causten-ExtraBoldOblique.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('/fonts/causten/Causten-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Causten';
  src: url('/fonts/causten/Causten-BlackOblique.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
